

body{
margin: 0;
font-family: Arial;
}

li {
list-style: none;
}
a{
text-decoration: none;
color: black;
font-size: 1rem;
}

a:hover{
color: #1759CF
}

header {
position : relative;
padding: 0 2rem;
background-color: white;
}

.navbar{
width: 100%;
max-width: 1200px;
height: 60px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar .logo img {
max-width: 80px;
  height: auto;
}

.navbar .links {
display: flex;
gap: 2rem;
margin-left: auto;
}
.navbar .buttons {
display: flex;
justify-content: space-around;
width: 250px;
}

.navbar .burger-menu {
font-size: 1.5rem;
cursor: pointer;
}

.button-essayer {
background-color: #0E68CC;
color: white;
border: 1px solid #0E68CC;
padding: 0.5rem 1.2rem;
border-radius: 15px;
font-size: 0.9rem;
font-weight: bold;
}

.hero {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-bottom: 8rem;
}

.hero .image img {
width: 1265px;
max-height: 400px;
object-fit: cover;
display: block;
margin-bottom: 2rem;
}

.hero .text h2 {
    margin-bottom: 1rem;
    font-size: 32px;
    color: #0A2D8F
}

.hero .text p {
 line-height: 1.6;
    max-width: 700px;
    font-size: 14px;
    margin: 0 auto 1.5rem;
}

.hero2 {
display: flex;
flex-direction: column;
align-items: center;
text-align: left;
margin-bottom: 6rem;
}

 .text2 h3 {
    font-size: 24px;
    color: #0A2D8F;
    text-align: center;
}

.card-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 30px;
}

.card {
width: 325px;
border-radius: 8px;
overflow: hidden;
margin:20px
}
.card img{
width: 15%;
height: auto;
 margin-left: 20px;
}
.card-content{
padding:16px
}
.card-content h3{
font-size: 27px;
font-weight: 500;
margin-bottom: 8px
}
.card-content p{
font-size: 14px;
line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 1.5rem;
}



